<app-navbar></app-navbar>

    <div class="product-display">
        <div *ngFor="let artItems of art">
            <div class="product-card">
                <div class="imageHolder">
                    <img class="img-main" src="https://www.artic.edu/iiif/2/{{artItems.image_id}}/full/843,/0/default.jpg" alt="">
                </div>
                <div class = "title-main">
                    {{artItems.title.substring(0,20)}}
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="pag-btn" *ngIf="pageNoStartingValue>1" aria-label="Previous" (click)="renderPreviousPageData()">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="pg-inac" *ngIf="pageNoStartingValue>1" (click)="renderPageByPgNo(pageNoStartingValue-1)">{{pageNoStartingValue-1}}</a></li>
          <li class="page-item"><a class="pg-ac"  (click)="renderPageByPgNo(pageNoStartingValue)">{{pageNoStartingValue}}</a></li>
          <li class="page-item"><a class="pg-inac"  (click)="renderPageByPgNo(pageNoStartingValue+1)">{{pageNoStartingValue+1}}</a></li>
          <li class="page-item">
            <a class="pag-btn" aria-label="Next" (click)="renderNextPageData()">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>



   


