<mat-toolbar>
  <mat-toolbar-row>
    <a routerLink="">
    <div class="header">
      CULTURE BY
      <div class="logo">SAGANO</div>
    </div>
    </a>
  </mat-toolbar-row>
  <mat-toolbar-row class="blackBar">
    <a href="http://">ABOUT US</a>
    <a href="http://">ARTISTS</a>
    <a href="http://">BUY TICKETS</a>
    <a href="http://">BECOME A MEMBER</a>
    <a routerLink="/selections">SELECTIONS</a>
    <i class="ri-search-line" (click)="renderSearch()"></i>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="disabled" class="blackBar">
    <form class="search-bar" [formGroup]="fg">
      <input
        formControlName="alphaControl"
        type="text"
        placeholder="looking for something?" [(ngModel)]="search"
        (input)="oninput()"
      />
    </form>
  </mat-toolbar-row>
</mat-toolbar>
