<mat-toolbar>
    <mat-toolbar-row>
        <div class="header">
            ART INSTITVTE
            <div class="logo">
                CHICAGO
            </div>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row class="blackBar">
        <a href="http://">ABOUT US</a>
        <a href="http://">ARTISTS</a>
        <a href="http://">BUY TICKETS</a>
        <a href="http://">BECOME A MEMBER</a>
        <a href="http://">SHOP</a>
        <i class="ri-search-line" (click)="renderSearch()"></i>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="disabled" class="blackBar">
        <form [formGroup]="fg">
            <input class="search-bar" formControlName="alphaControl" type="text" placeholder="looking for something?" (input)="oninput()">
        </form>
    </mat-toolbar-row>
</mat-toolbar>

