.header{
    background: rgb(130, 160, 97);
    color: #fff;
    font-size: 4vw;
    letter-spacing: 0.6vw;
    padding: 5vw 0vw 0vw 2vw;
    line-height: 7vw;
}

.logo  {
    font-size: 12vw;
    font-weight: 600;
    letter-spacing: 0.5vw;
}